<div id='content'>
    <div id='description'>
        <button id="user_management_button" class="button blue" onclick="window.parent.location = '/add_user' ">
            <span>Add User</span>
        </button>
        <button id="price_management_button" class="button blue" onclick="window.parent.location = '/users' ">
            <span>Delete User</span>
        </button>
        <button id="price_management_button" class="button blue" onclick="window.location = '' ">
            <span>Update Prices</span>
        </button>
    </div>
</div>
