<div id='content'>
    <div id='description'>
        <%= form_tag 'add_user' do %>
            <input type='text' helpText='Set Username' name='username' textcase='lower'>
            <input type='password' helptext='Set Password', name='password' textcase='lower'>
            <input type='password' helptext='Confirm Password', name='password_confirmation' textcase='lower'>
            <select style='width: 100%' name='user_role_id' id='user_role'
                  helptext='Specify User Role' tt_onload='hideKeyBoard(); resizeInputFrame();'>
                <% @roles.each do |user_role| %>
                    <option></option>
                    <option value="<%= user_role.id %>"><%= user_role.role %></option>
                <% end %>
            </select>
        <% end %>
    </div>
</div>

